body{
	background-color: #193549;
	text-align: center;
	color: #fff;

}
.logo{
	padding-top: 50px
}
form {
	/*text-align: left;*/
	padding-left: 100px
}
table{
	margin:auto;
	width: 500px;
}
input {
	height: 24px;
	/*float: left;*/
	padding:0px;
}

hr{
	text-align: center;
	width: 80%;
}